.Top
{
    font-size: 100px;
}
.red_square
{
    border-left: 15px solid red;
}
body
{
    background-color: darkcyan;
}
h1
{
    text-align: center;
}
.ridge 
{
    border-style:ridge;
    width:150px;
}

.black-color
{
    color: black;
}
.tak
{
    background-color: rgb(0, 109, 109);
    border-radius: 10px;
}
.nie
{
    background-color: rgb(0, 109, 109);
    border-radius: 10px 100px 100px 100px;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 25px;
    padding: 100px;
}

